# Data cleaning

In [1]:
import pandas

## Load the datasets

In [2]:
df_1970_2022 = pandas.read_csv("data/unclean-data/global-population-1970-2022.csv")

df_1970_2022.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [3]:
df_2020 = pandas.read_csv("data/unclean-data/global-population-2020.csv")

df_2020.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

## Merge the datasets

In [4]:
# Rename "Country/Territory" to Country
df_1970_2022 = df_1970_2022.rename(columns={
    "Country/Territory": "Country"
})

df_1970_2022["Country"]

0            Afghanistan
1                Albania
2                Algeria
3         American Samoa
4                Andorra
             ...
229    Wallis and Futuna
230       Western Sahara
231                Yemen
232               Zambia
233             Zimbabwe
Name: Country, Length: 234, dtype: object

In [5]:
# Rename "Country (or dependency)" to Country
df_2020 = df_2020.rename(columns={
    "Country (or dependency)": "Country"
})

df_2020["Country"]

0                 China
1                 India
2         United States
3             Indonesia
4              Pakistan
             ...
230          Montserrat
231    Falkland Islands
232                Niue
233             Tokelau
234            Holy See
Name: Country, Length: 235, dtype: object

In [ ]:
# Merge on "Country"
df = df_1970_2022.merge(df_2020, on="Country", how="left")

df.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,...,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,...,39074280.0,2.33 %,886592.0,60.0,652860.0,-62920.0,4.6,18,25 %,0.50 %
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,...,2877239.0,-0.11 %,-3120.0,105.0,27400.0,-14000.0,1.6,36,63 %,0.04 %
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,...,43984569.0,1.85 %,797990.0,18.0,2381740.0,-10000.0,3.1,29,73 %,0.56 %
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,...,55169.0,-0.22 %,-121.0,276.0,200.0,NaN,N.A.,N.A.,88 %,0.00 %
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,...,77287.0,0.16 %,123.0,164.0,470.0,NaN,N.A.,N.A.,88 %,0.00 %